body {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 1vh;
    font-style: normal;
    font-weight: 500;
    line-height: 137.023%; /* 27.405px */
    letter-spacing: -0.5px;
    height: 100%;
}

.header {
    width: 100%;
    height: 700px;
    padding: 20px 0;
    background-size: 70vw 70vh;
    background: url("assets/background.png") no-repeat center;
}

.elephant {
    width: 100%;
    background-size: 70vw 70vh;
    height: 700px;
    background: url("assets/elephant.png") no-repeat center;
    position: absolute;
}

.header__primary {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 6vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header__logo-text {
    margin-left: 6px;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    line-height: 90.523%
}

.header__number {
    display: flex;
    height: 3vh;
    flex-direction: row;
    align-items: center;
    align-self: center;
}

.header__number-text {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-left: 10px;
    letter-spacing: 1px;
}

.header__number-whatsapp {
    width: 40px;
    height: 40px;
}

.container {
    margin: 0 10vw;
}
